node_modules
# Python
__pycache__/
*.pyc
*.pyo

# Env
.env

# SQLite DB (tuỳ chọn nếu không muốn track)
*.db

# React frontend
node_modules/
build/
.cache/
*.log

# VSCode config (tuỳ chọn)
.vscode/

# OS files
.DS_Store
Thumbs.db
